@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin sexy-line {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  border-top: solid 1px #c9cbcd;
  width: 90px;
}

@mixin center-adjust($justify: center , $align: center ){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin round-icon($dk ,  $border-width , $border-color , $border-radius : 50% ){
    width: $dk ;
    height: $dk;
    line-height: $dk;
    border-radius: $border-radius;
    align-items: center;
    border: solid $border-width $border-color;
}

@mixin overlay( $bg-color){
  position: absolute;
  inset: 0;
  background-color: $bg-color;
  opacity: 0;
  transition: all ease 0.3s;
}

@mixin b4after(){
  content: "";
  display: block;
  position: absolute;
}