$info-tablet-horizontal: "only screen and (max-width : 1200px)";
$info-tablet-vertical: "only screen and (max-width : 992px)";
$info-phone: "only screen and (max-width : 767px)";

$nav-list-line:#32b0ee;
$primary-color: #0eb493;
$dark-color: #556567;
$feature-bg-color: #f4f7f9;
$white-txt-color: #fff;
$dark-txt-color: #384d5c ;
$grey-txt-color:#73828d ;
$icon-bg-color: #0d7c67;

$header-height: 70px;
$feature-height:  460px;
$facts-height:600px;