$info-tablet-horizontal: "only screen and (max-width : 1200px)";
$info-tablet-vertical: "only screen and (max-width : 992px)";
$info-phone: "only screen and (max-width : 767px)";


$nav-list-line:#32b0ee;
$banner-txt-green-color: #0ed691;
$primary-color: #0eb493;
$dark-color: #556567;
$feature-bg-color: #f4f7f9;
$footer-bg-color: #1ea78d;
$white-txt-color: #fff;
$black-txt-color: black;
$dark-txt-color: #384d5c ;
$grey-txt-color:#73828d ;
$icon-bg-color: #0d7c67;
$txt-hover-pink-color: pink;

$header-height: 70px;
$banner-height: 740px;
$feature-height:  460px;
$facts-height:600px;
$map-height: 220px;
$footer-height: 400px;