$info-tablet-horizontal: "only screen and (max-width : 1200px)";
$info-tablet-vertical: "only screen and (max-width : 992px)";
$info-phone: "only screen and (max-width : 767px)";
$nav-list-line:#32b0ee;
$primary-color: #0eb493;