/* banner */

.banner {
  background: url("../img/banner.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: $banner-height;
  display: flex;
  flex-direction: column;
  text-align: center;

  .banner__content {
    padding-top: 390px;
    color: $white-txt-color;
    .banner__heading1 {
      @include font-size(62px);
      font-weight: 400;
      margin-bottom: 0;
      span {
        font-weight: 700;
      }
    }
    .banner__heading2 {
      @include font-size(48px);
      margin: 16px 0 20px;
      span {
        color: $banner-txt-green-color;
      }
    }

    .banner__text {
      $line-width: 28px;
      font-size: 18px;
      position: relative;
      &::before,
      &::after {
        @include b4after();
        top: 14px;
        width: $line-width;
        border-top: solid 2px $banner-txt-green-color;
      }
      &::before {
        left: calc(-34px - 28px);
      }
      &::after {
        right: calc(-34px - 28px);
      }
    }
  }
}

.banner__social {
  margin-top: 105px;
  .banner__social-icon {
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #57716a;
    transition: all ease 0.3s;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}