.features {
  @include center-adjust(center,unset);
  height: $feature-height;
  background-color: $feature-bg-color;
}
.features__content {
  margin-left: -15px;
  padding-right: 15px;
}
.features__item {
  display: flex;
  &-logo {
    text-align: center;
    margin-right: -15px;
    i {
      @include round-icon(40px, 1px, $primary-color);
      @include font-size(16px);
      color: #0eb493;
    }
  }
  &-title {
    @include font-size(20px);
    color: $dark-txt-color;
    font-weight: 600;
    margin-bottom: 0;
  }

  &-desc {
    @include font-size(13px);
    color: $grey-txt-color;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.features__item-text {
  margin-left: -15px;
  margin-right: -15px;
}
