

.features {
  display: flex;
  justify-content: center;
  height: 460px;
  background-color: #f4f7f9;
}
.features__content{
  margin-left: -15px;
    padding-right: 15px;
}
.features__item {
  display: flex;
  &-logo {
    text-align: center;
    margin-right: -15px;
    i {
      font-size: 16px;
      $logo_size: 40px;
      width: $logo_size;
      height: $logo_size;
      line-height: $logo_size;
      border: solid 1px #0eb493;
      color: #0eb493;
      text-align: center;
      border-radius: 50%;
    }
  }
  &-title {
    font-size: 20px;
    color: #062033;
    font-weight: 600;
    margin-bottom: 0;
  }

  &-desc {
    font-size: 13px;
    text-align: justify;
    color: #4d606e;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.features__item-text{
  margin-left: -15px;
  margin-right: -15px;
}
