.header {
  background-color: black;
  height: 70px;
  color: white;
  display: flex;
}

.header__left {
  height: 70px;
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: 28px;
}
.header__txt {
  font-size: 13px;

  color: #556567;
  margin-left: 50px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -22px;
    top: 0;
    border-left: solid 1px #556567;
    height: 17px;
  }
}
.header__nav {
  font-size: 13px;

  .nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 70px;
    margin-bottom: 0;
    .nav__list-item {
      padding: 0 15px;
      line-height: 70px;
      .nav__list-item-link {
        color: white !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
