/* header */
.header {
  background-color: black;
  height: $header-height;
  color: white;
  display: flex;
  justify-content: center;
}

.header__left {
  height: $header-height;
  display: flex;
  align-items: center;
  .header__logo {
    @include font-size(28px);
    font-family: "Pacifico", cursive;
    font-weight: 400;
  }
  .header__txt {
    @include font-size(13px);
    color: $dark-color;
    margin-left: 54px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -22px;
      top: 2px;
      border-left: solid 1px $dark-color;
      height: 18px;
    }
  }
}

.header__nav {
  @include font-size(13px);

  .nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: $header-height;
    margin-bottom: 0;
    .nav__list-item {
      margin-left: 30px;
      line-height: 70px;
      &::before {
        content: "";
        display: block;
        border-top: solid 2px $nav-list-line;
      }

      .nav__list-item-link {
        color: white !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
