/* header */
.header {
  background-color: black;
  height: $header-height;
  color: white;
  display: flex;
  justify-content: center;
}

.header__left {
  height: $header-height;
  display: flex;
  align-items: center;
  .header__logo {
    @include font-size(28px);
    font-family: "Pacifico", cursive;
    font-weight: 400;
  }
  .header__txt {
    @include font-size(13px);
    color: $dark-color;
    margin-left: 54px;
    position: relative;

    &::before {
      @include b4after();
      left: -22px;
      top: 2px;
      border-left: solid 1px $dark-color;
      height: 18px;
    }
  }
}

.header__nav {
  @include font-size(13px);
  .nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: $header-height;
    margin-bottom: 0;

    .nav__list-item {
      margin-left: 30px;
      line-height: 70px;
      position: relative;
      overflow: hidden;
      &:hover {
        &::after {
          left: 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        border-top: solid 2px $nav-list-line;
        top: 0;
        left: -100%;
        width: 100%;
        transition: 0.3s ease-in-out;
      }
      .nav__list-item-link {
        color: white !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
