* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
}

.wrapper {
  width: 1170px;
}

/* header */
.header {
  background-color: black;
  height: 70px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__left {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left .header__logo {
  font-size: 28px;
  font-size: 1.75rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.header__left .header__txt {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #556567;
  margin-left: 54px;
  position: relative;
}

.header__left .header__txt::before {
  content: "";
  display: block;
  position: absolute;
  left: -22px;
  top: 2px;
  border-left: solid 1px #556567;
  height: 18px;
}

.header__nav {
  font-size: 13px;
  font-size: 0.8125rem;
}

.header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  height: 70px;
  margin-bottom: 0;
}

.header__nav .nav__list .nav__list-item {
  margin-left: 30px;
  line-height: 70px;
}

.header__nav .nav__list .nav__list-item::before {
  content: "";
  display: block;
  border-top: solid 2px #32b0ee;
}

.header__nav .nav__list .nav__list-item .nav__list-item-link {
  color: white !important;
}

.header__nav .nav__list .nav__list-item .nav__list-item-link:hover {
  text-decoration: none;
}

/* banner */
.banner {
  background: url("../img/banner.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.banner .banner__content {
  padding-top: 390px;
  color: #fff;
}

.banner__heading1 {
  font-size: 62px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 0;
}

.banner__heading1 span {
  font-weight: 700;
}

.banner__heading2 {
  font-size: 48px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  line-height: 50px;
}

.banner__heading2 span {
  color: #0ed691;
}

.banner__text {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  display: inline-block;
}

.banner__text::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(-34px - 28px);
  top: 14px;
  border-top: solid 2px #0ed691;
  width: 28px;
}

.banner__text::after {
  content: "";
  display: block;
  position: absolute;
  right: calc(-34px - 28px);
  top: 14px;
  border-top: solid 2px #0ed691;
  width: 28px;
}

.banner__social {
  margin-top: 105px;
}

.banner__social .banner__social-icon {
  width: 32px;
  height: 32px;
  font-size: 18px;
  color: #57716a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.banner__social .banner__social-icon:hover {
  color: #fff;
  cursor: pointer;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  height: 460px;
  background-color: #f4f7f9;
}

.features__content {
  margin-left: -15px;
  padding-right: 15px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item-logo {
  text-align: center;
  margin-right: -15px;
}

.features__item-logo i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #0eb493;
  font-size: 16px;
  font-size: 1rem;
  color: #0eb493;
}

.features__item-title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #384d5c;
  font-weight: 600;
  margin-bottom: 0;
}

.features__item-desc {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #73828d;
  margin-top: 20px;
  margin-bottom: 0;
}

.features__item-text {
  margin-left: -15px;
  margin-right: -15px;
}

/* works */
.works__category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 36px;
}

.works__category-list-item {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 5px;
  padding: 4px 20px;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.works__category-list-item:hover {
  background-color: #0eb493;
  cursor: pointer;
  color: white;
}

.works__photo-item {
  position: relative;
  height: 300px;
  margin-left: -15px;
  margin-right: -15px;
}

.works__photo-item:hover .works__photo-item-overlay {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.works__photo-item .works__photo-item-overlay {
  position: absolute;
  inset: 0;
  background-color: #0eb493;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.works__photo-item .works__photo-item-overlay .overlay-content {
  color: #fff;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #fff;
  font-size: 16px;
  font-size: 1rem;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 24px;
  margin-bottom: 6px;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-txt {
  font-size: 14px;
  font-size: 0.875rem;
}

.works__photo-item img {
  width: 100%;
  height: 100%;
}

.section__heading {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 5px;
}

.section__heading .heading-txt {
  text-transform: uppercase;
  font-size: 28px;
  color: #0eb493;
  font-weight: 700;
}

.section__heading .heading-line {
  position: relative;
  color: #c9cbcd;
}

.section__heading .heading-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  border-top: solid 1px #c9cbcd;
  width: 90px;
  left: calc(-90px - 15px);
}

.section__heading .heading-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  border-top: solid 1px #c9cbcd;
  width: 90px;
  right: calc(-90px - 15px);
}

.section__heading .heading-description {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.space-after-line {
  margin-top: 54px;
}

.text-white {
  color: white !important;
}

/* team */
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-carousel {
  margin-top: 94px;
}

.carousel-inner {
  margin-bottom: 186px;
}

.team__indicators {
  bottom: -94px;
}

.team__indicators li {
  width: 8px;
  height: 8px;
  line-height: 8px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #d0d5d8;
  background-color: #fff;
  opacity: 1;
}

.team__indicators li.active {
  background-color: black;
  border: solid 1px black;
}

.team__item-img-box {
  position: relative;
}

.team__item-wrapper:hover .team__item-overlay {
  opacity: 1;
}

.team__item-wrapper:hover .member-name {
  color: #0eb493;
}

.team__item-overlay {
  position: absolute;
  inset: 0;
  background-color: #0eb493;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 22px;
}

.team__item-overlay .overlay-content {
  text-align: center;
}

.team__item-overlay .overlay-content .overlay-heading {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.team__item-overlay .overlay-content .overlay-description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
}

.team__item-overlay .overlay-content .overlay-icons {
  margin-top: 70px;
}

.team__item-overlay .overlay-content .overlay-icons i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid unset unset;
  font-size: 20px;
  background-color: #0d7c67;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.team__item-overlay .overlay-content .overlay-icons i:hover {
  background-color: #38eac8;
  cursor: pointer;
}

.team__item-img-txt {
  text-align: center;
}

.team__item-img-txt .member-name {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #384d5c;
  margin: 16px 0 8px;
}

.team__item-img-txt .member-title {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #73828d;
}

.facts {
  background-image: url(../img/facts.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  width: 100%;
  height: 600px;
}

.facts__content {
  margin-top: 10px;
}

.facts__content .facts__item {
  text-align: center;
}

.facts__content .facts__item .facts__item-icon {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #556567;
  margin: 0 auto 24px;
}

.facts__content .facts__item .facts__item-icon i {
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
}

.facts__content .facts__item .facts__item-number {
  font-size: 60px;
  font-size: 3.75rem;
  font-weight: 500;
  color: #fff;
}

.facts__content .facts__item .facts__item-txt {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: -12px;
}
/*# sourceMappingURL=main.css.map */