* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
}

.wrapper {
  width: 1170px;
}

.header {
  background-color: black;
  height: 70px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__left {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 28px;
}

.header__txt {
  font-size: 13px;
  color: #556567;
  margin-left: 54px;
  position: relative;
}

.header__txt::before {
  content: "";
  display: block;
  position: absolute;
  left: -22px;
  top: 2px;
  border-left: solid 1px #556567;
  height: 18px;
}

.header__nav {
  font-size: 13px;
}

.header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  height: 70px;
  margin-bottom: 0;
}

.header__nav .nav__list .nav__list-item {
  margin-left: 30px;
  line-height: 70px;
}

.header__nav .nav__list .nav__list-item::before {
  content: "";
  display: block;
  border-top: solid 2px #32b0ee;
}

.header__nav .nav__list .nav__list-item .nav__list-item-link {
  color: white !important;
}

.header__nav .nav__list .nav__list-item .nav__list-item-link:hover {
  text-decoration: none;
}

.banner {
  background: url("/assets/img/banner.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.banner .banner__content {
  padding-top: 390px;
  color: #fff;
}

.banner__heading1 {
  font-size: 62px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 0;
}

.banner__heading1 span {
  font-weight: 700;
}

.banner__heading2 {
  font-size: 48px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  line-height: 50px;
}

.banner__heading2 span {
  color: #0ed691;
}

.banner__text {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  display: inline-block;
}

.banner__text::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(-34px - 28px);
  top: 14px;
  border-top: solid 2px #0ed691;
  width: 28px;
}

.banner__text::after {
  content: "";
  display: block;
  position: absolute;
  right: calc(-34px - 28px);
  top: 14px;
  border-top: solid 2px #0ed691;
  width: 28px;
}

.banner__social {
  margin-top: 105px;
}

.banner__social .banner__social-icon {
  width: 32px;
  height: 32px;
  font-size: 18px;
  color: #57716a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.banner__social .banner__social-icon:hover {
  color: #fff;
  cursor: pointer;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 460px;
  background-color: #f4f7f9;
}

.features__content {
  margin-left: -15px;
  padding-right: 15px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item-logo {
  text-align: center;
  margin-right: -15px;
}

.features__item-logo i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 1px #0eb493;
  color: #0eb493;
  text-align: center;
  border-radius: 50%;
}

.features__item-title {
  font-size: 20px;
  color: #062033;
  font-weight: 600;
  margin-bottom: 0;
}

.features__item-desc {
  font-size: 13px;
  text-align: justify;
  color: #4d606e;
  margin-top: 20px;
  margin-bottom: 0;
}

.features__item-text {
  margin-left: -15px;
  margin-right: -15px;
}

.works__category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 36px;
}

.works__category-list-item {
  font-size: 14px;
  font-weight: 700;
  margin: 0 5px;
  padding: 4px 20px;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.works__category-list-item:hover {
  background-color: #0eb493;
  cursor: pointer;
  color: white;
}

.works__photo-item {
  position: relative;
  height: 300px;
  margin-left: -15px;
  margin-right: -15px;
}

.works__photo-item:hover .works__photo-item-overlay {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.works__photo-item .works__photo-item-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0eb493;
  opacity: 0;
}

.works__photo-item .works__photo-item-overlay .overlay-content {
  color: #fff;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-icon i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 1px #fff;
  text-align: center;
  border-radius: 50%;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-title {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 6px;
}

.works__photo-item .works__photo-item-overlay .overlay-content .overlay-txt {
  font-size: 14px;
}

.works__photo-item img {
  width: 100%;
  height: 100%;
}

.section__heading {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 5px;
}

.section__heading .heading-txt {
  text-transform: uppercase;
  font-size: 28px;
  color: #0eb493;
  font-weight: 700;
}

.section__heading .heading-line {
  position: relative;
  color: #c9cbcd;
}

.section__heading .heading-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  border-top: solid 1px #c9cbcd;
  width: 90px;
  left: calc(-90px - 15px);
}

.section__heading .heading-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  border-top: solid 1px #c9cbcd;
  width: 90px;
  right: calc(-90px - 15px);
}

.section__heading .heading-description {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.space-after-line {
  margin-top: 54px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */